@page
@model MediaMatters.Views.Home.AlbumsModel
@{
}

<div class="alert alert-dark" role="alert">My Top 5 Albums</div>

<div class="text-center">
    <img src="~/images/Alestorm_-_Sunset_on_the_Golden_Age.jpg" class="img-thumbnail" style="width:200px;height:auto;" />
</div>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Name</th>
            <td>Sunset of the Golden Age</td>
        </tr>
        <tr>
            <th scope="row">Group</th>
            <td>Alestorm</td>
        </tr>
        <tr>
            <th scope="row">Reason</th>
            <td>The harder, louder, music helps drown out the world and open up the possibility for me to use my mind to creat objects and follow logic.</td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <img src="~/images/live- big bad voodoo daddy.jpg" class="img-thumbnail" style="width:200px;height:auto;" />
</div>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Name</th>
            <td>Live</td>
        </tr>
        <tr>
            <th scope="row">Group</th>
            <td>Big Bad Voodoo Daddy</td>
        </tr>
        <tr>
            <th scope="row">Reason</th>
            <td>I was raised and taught to swing dance to this albume. When I am feeling nistalgic I reach for this album.</td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <img src="~/images/destiny- celtic woman.jpg" class="img-thumbnail" style="width:200px;height:auto;" />
</div>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Name</th>
            <td>Destiny</td>
        </tr>
        <tr>
            <th scope="row">Group</th>
            <td>Celtic Woman</td>
        </tr>
        <tr>
            <th scope="row">Reason</th>
            <td>The softer sounds of this album make me want to relax.</td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <img src="~/images/hamilton.jpg" class="img-thumbnail" style="width:200px;height:auto;" />
</div>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Name</th>
            <td>Hamilton: An American Musical</td>
        </tr>
        <tr>
            <th scope="row">Group</th>
            <td>Original Brodway Cast Recording</td>
        </tr>
        <tr>
            <th scope="row">Reason</th>
            <td>I am not very often a fan of rap but this is the play that changed a few ideas for me.</td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <img src="~/images/the phantom of the opera.jpg" class="img-thumbnail" style="width:200px;height:auto;"/>
</div>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Name</th>
            <td>The Phantom of the Opera</td>
        </tr>
        <tr>
            <th scope="row">Group</th>
            <td>Original Cast Recording</td>
        </tr>
        <tr>
            <th scope="row">Reason</th>
            <td>I got to see a live performence of this play when I was a kid and I am still to this day blown away by the stage work of the show.</td>
        </tr>
    </tbody>
</table>