@page
@model MediaMatters.Views.Home.BooksModel
@{
}

<div class="alert alert-dark" role="alert">My top 5 Books</div>

<div class="text-center">
    <img src="~/images/a brief history of time.jpg" class="img-thumbnail" style="width:200px;height:auto;" />
</div>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Book Title</th>
            <td>The Illustrated A brief History of Time/ The Universe in a Nutshell</td>
        </tr>
        <tr>
            <th scope="row">Author</th>
            <td>Stephen Hawking</td>
        </tr>
        <tr>
            <th scope="row">Edition</th>
            <td>Barnes & Noble Collectible Edition</td>
        </tr>
        <tr>
            <th scope="row">Publication Date</th>
            <td>08/01/2018</td>
        </tr>
        <tr>
            <th scope="row">ISBN #</th>
            <td>9780385365970</td>
        </tr>
        <tr>
            <th scope="row">Reasson</th>
            <td>This is the first in a three book list that I will be reading and studying in order to expand my understanding of the world. This is the chalange to my understanding of the laws of the univers.</td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <img src="~/images/Nikola Tesla.jpg" class="img-thumbnail" style="width:200px;height:auto;" />
</div>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Book Title</th>
            <td>Inventions, Researches and Writings of Nikola Tesla</td>
        </tr>
        <tr>
            <th scope="row">Author</th>
            <td>Nikola Tesla, Thomas Commerford</td>
        </tr>
        <tr>
            <th scope="row">Edition</th>
            <td>Barnes & Noble Collectible Edition</td>
        </tr>
        <tr>
            <th scope="row">Publication Date</th>
            <td>02/26/2018</td>
        </tr>
        <tr>
            <th scope="row">ISBN #</th>
            <td>9781435167957</td>
        </tr>
        <tr>
            <th scope="row">Reasson</th>
            <td>This is the second in a three book list that I will be reading and studying in order to expand my understanding of the world. This is the chalange to my understanding of energy and what is posible.</td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <img src="~/images/Gray's anatomy.jpg" class="img-thumbnail" style="width:200px;height:auto;" />
</div>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Book Title</th>
            <td>Gray's Anatomy</td>
        </tr>
        <tr>
            <th scope="row">Author</th>
            <td>Henry Gray, H.V. Carter M.D.</td>
        </tr>
        <tr>
            <th scope="row">Edition</th>
            <td>Barnes & Noble Collectible Edition</td>
        </tr>
        <tr>
            <th scope="row">Publication Date</th>
            <td>03/26/2018</td>
        </tr>
        <tr>
            <th scope="row">ISBN #</th>
            <td>9781435167919</td>
        </tr>
        <tr>
            <th scope="row">Reasson</th>
            <td>This is the third in a three book list that I will be reading and studying in order to expand my understanding of the world. This is the chalange to my understanding of the human body and how it all works.</td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <img src="~/images/native american mythand legends.jpg" class="img-thumbnail" style="width:200px;height:auto;" />
</div>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Book Title</th>
            <td>Native American Myth and Legends</td>
        </tr>
        <tr>
            <th scope="row">Author</th>
            <td>Richard Erdoes, Alfonso Ortiz</td>
        </tr>
        <tr>
            <th scope="row">Edition</th>
            <td>Barnes & Noble Collectible Edition</td>
        </tr>
        <tr>
            <th scope="row">Publication Date</th>
            <td>09/24/2018</td>
        </tr>
        <tr>
            <th scope="row">ISBN #</th>
            <td>9780525615064</td>
        </tr>
        <tr>
            <th scope="row">Reasson</th>
            <td>I think it is good to study myth and legends from around the world. This is a good colection of them.</td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <img src="~/images/Irish literature.jpg" class="img-thumbnail" style="width:200px;height:auto;"/>
</div>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Book Title</th>
            <td>A Treasury of Irish Literature</td>
        </tr>
        <tr>
            <th scope="row">Author</th>
            <td>Various</td>
        </tr>
        <tr>
            <th scope="row">Edition</th>
            <td>Barnes & Noble Collectible Edition</td>
        </tr>
        <tr>
            <th scope="row">Publication Date</th>
            <td>07/28/2017</td>
        </tr>
        <tr>
            <th scope="row">ISBN #</th>
            <td>9781435165014</td>
        </tr>
        <tr>
            <th scope="row">Reasson</th>
            <td>I think it is good to study myth and legends from around the world. This is a good colection of them.</td>
        </tr>
    </tbody>
</table>