@page
@model MediaMatters.View.Home.HomeModel
@{
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
</div>
<div class="text-center">
    <h3 class="text-danger">Welcome to my page</h3>
</div>
<div></div>
<div></div>
<div class="alert alert-dark" role="alert">This is a Rick roll. <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="alert-link">Top 5 Passwords</a></div>