@page
@model MediaMatters.Views.Home.MoviesModel
@{
}

<div class="alert alert-dark" role="alert">My top 5 Movies</div>

<div class="text-center">
    <img src="~/images/the illusionist.jpg" class="img-thumbnail" style="width:200px;height:auto;" />
</div>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Title</th>
            <td>The Illusionist</td>
        </tr>
        <tr>
            <th scope="row">Release date</th>
            <td>08/18/2006</td>
        </tr>
        <tr>
            <th scope="row">Running time</th>
            <td>110 minutes</td>
        </tr>
        <tr>
            <th scope="row">Reason</th>
            <td>This film is one where you are watching the details in order to try and see threw the trick before it is told to you.</td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <img src="~/images/Lord_of_the_Rings_-_The_Two_Towers_(2002).jpg" class="img-thumbnail" style="width:200px;height:auto;" />
</div>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Title</th>
            <td>The Lord of the Rings Two Towers</td>
        </tr>
        <tr>
            <th scope="row">Release date</th>
            <td>12/18/2002</td>
        </tr>
        <tr>
            <th scope="row">Running time</th>
            <td>226 minutes</td>
        </tr>
        <tr>
            <th scope="row">Reason</th>
            <td>Of the three Lord of the Rings movies, this has my favoret battle. I love the art of the battle for Helms Deep.</td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <img src="~/images/Gladiator_(2000_film_poster).png" class="img-thumbnail" style="width:200px;height:auto;" />
</div>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Title</th>
            <td>Gladiator</td>
        </tr>
        <tr>
            <th scope="row">Release date</th>
            <td>05/05/2000</td>
        </tr>
        <tr>
            <th scope="row">Running time</th>
            <td>115 minutes</td>
        </tr>
        <tr>
            <th scope="row">Reason</th>
            <td>One of the best movies I can think of to show what a man should be. I use this movie's lines all the time in my life as a guide to if I am living the life I want to live.</td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <img src="~/images/harry potter chamber of secrets.jpg" class="img-thumbnail" style="width:200px;height:auto;" />
</div>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Title</th>
            <td>Harry Potter And The Chamber of Secrets</td>
        </tr>
        <tr>
            <th scope="row">Release date</th>
            <td>11/15/2002</td>
        </tr>
        <tr>
            <th scope="row">Running time</th>
            <td>161 minutes</td>
        </tr>
        <tr>
            <th scope="row">Reason</th>
            <td>I like most of the Harry Potter story, but this is my choice since it is where I see Harry take a stand and not depend on luck or magic to save him.</td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <img src="~/images/sherlock holmes.jpg" class="img-thumbnail" style="width:200px;height:auto;" />
</div>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Title</th>
            <td>Sherlock Holmes</td>
        </tr>
        <tr>
            <th scope="row">Release date</th>
            <td>12/25/2009</td>
        </tr>
        <tr>
            <th scope="row">Running time</th>
            <td>129 minutes</td>
        </tr>
        <tr>
            <th scope="row">Reason</th>
            <td>Between this and the Avengers movies, I think this is the best role I have seen Robert Downey jr play. I also like the charicter of Sherlock Holmes and this was a good movie with that charicter.</td>
        </tr>
    </tbody>
</table>